<div class="footer">
    <div class="footer-section footer-secondary">
        <div class="container footer-areas">
            <div class="footer-area">
                <a href="{{ site.url }}" class="logo"></a>
                <p>Made with ❤️ by the Vanilla OS Contributors.</p>
            </div>
            <div class="footer-area">
                <p>Vanilla OS is a Free and Open Source project. <a href="{{ site.url }}/get-involved">Learn here</a> how to get involved.</p>
                <p>
                    <small>Every software and component is licensed under different Open Source licenses.</small>
                </p>
            </div>
        </div>
    </div>
    <div class="footer-section footer-primary">
        <div class="container footer-areas">
            <div class="footer-area">
                <h3>Legal</h3>
                <ul>
                    <li><a href="{{ site.url }}/privacy-policy">Cookies</a></li>
                    <li><a href="{{ site.url }}/logos">Logos</a></li>
                    <li><a href="https://github.com/Vanilla-OS">Funding</a></li>
                </ul>
            </div>
            <div class="footer-area">
                <h3>Community</h3>
                <ul>
                    <li><a href="{{ site.url }}/privacy-policy">Our Community</a></li>
                    <li><a href="{{ site.url }}/code-of-conduct">Code of Conduct</a></li>
                    <li><a href="{{ site.url }}/get-involved">Get Involved</a></li>
                </ul>
            </div>
            <div class="footer-area">
                <h3>Social</h3>
                <ul>
                    <li><a href="https://discord.gg/3cD2Q7Ht3S">Discord</a></li>
                    <li><a href="https://github.com/Vanilla-OS">GitHub</a></li>
                    <li><a href="https://twitter.com/brombinmirko">Twitter</a></li>
                </ul>
            </div>
            <div class="footer-area">
                <h3>Support</h3>
                <ul>
                    <li><a href="https://documentation.vanillaos.org/">Documentation</a></li>
                    <li><a href="https://discord.gg/3cD2Q7Ht3S">Community Support</a></li>
                    <li><a href="https://github.com/vanilla-os/">Source Code</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
<script type="text/javascript" src="/assets/js/topBar.js"></script>
<script type="text/javascript" src="/assets/js/animateScroll.js"></script>
<script type="text/javascript" src="/assets/js/accordion.js"></script>
<script type="text/javascript" src="/assets/js/button.js"></script>
<script type="text/javascript" src="/assets/js/toast.js"></script>
<script type="text/javascript" src="/assets/js/menu.js"></script>
<!--<script>Toast.new("This website is still in development. Some features may not work as expected.");</script>-->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
