<div class="topbar">
    <div class="container topbar-wrapper">
        <a href="{{ site.url }}" class="logo"></a>
        <span class="topbar-navigation-toggler material-icons-outlined">more_vert</span>
        <ul class="topbar-navigation">
            <li>
                <a href="{{ site.url }}/blog" 
                    {% if page.url contains '/blog/' %}class="active"{% endif %}>Blog</a>
            </li>
            <li>
                <a href="https://discord.gg/3cD2Q7Ht3S"
                    {% if page.url contains '/community/' %}class="active"{% endif %}>Community</a>
            </li>
            <li>
                <a href="https://documentation.vanillaos.org/">Documentation</a>
            </li>
            <li>
                <a href="{{ site.url }}/get-involved"
                    {% if page.url contains '/get-involved' %}class="active"{% endif %}>Get Involved</a>
            </li>
        </ul>
    </div>
</div>
