@media (prefers-color-scheme: dark) {
    .on-light {
        display: none;
    }
    .on-dark {
        display: initial;
    }

    body {
        background-color: #242424;
        color: #fff;
    }

    .hero p {
        color: #c3c3c3;
    }

    .logo {
        background-image: url('/assets/images/vanilla-logo-dark.png');
    }
    
    a {
        color: #fff;
    }

    a:hover {
        color: #eee;
    }

    .scroll .topbar {
        background-color: #242424;
        border-bottom-color: #202020;
    }
    
    html::-webkit-scrollbar-track{
        border:7px solid #242424;
        background-color:#242424;
    }
    
    html::-webkit-scrollbar-track:hover{
        background-color:#242424;
    }
    
    html::-webkit-scrollbar-thumb{
        background-color:rgb(83, 83, 83)
    }
    
    html::-webkit-scrollbar-thumb:window-inactive{
        background-color:rgb(66, 66, 66)
    }
    
    html::-webkit-scrollbar-thumb:hover{
        background-color:rgb(112, 112, 112)
    }

    .hero-bg-text .hero-image::after {
        background: none;
    }

    .button-pattern::after {
        background: #242424fa;
    }

    .hero.hero-secondary {
        background-color: #2e2e2e;
    }

    .accordion-item.accordion-open {
        background-color: #0000002e;
    }

    .logo-carousel .logo-carousel-item img {
        filter: saturate(0) invert(1);
    }

    .footer-secondary {
        background-color: #2d2d2d;
    }
    
    .footer-primary {
        background-color: #181818;
    }

    .logo-carousel-item a:hover {
        background-color: #2d2d2d;
    }

    .body-tint, .body-tint .hero-heading {
        background-color: #2d2d2d;
    }

    .body-tint main {
        background-color: #242424;
    }

    .card,
    .blog-posts article {
        background-color: #2d2d2d;
        border-bottom-color: #363636;
    }
    
    .card-bg-icon {
        color: #262626;
    }

    table th {
        background-color: #2d2d2d;
    }
    
    table td {
        border-bottom-color: #2d2d2d;
    }
    
    table tr:nth-child(even) {
        background-color: #2d2d2d;
    }
    
    table tr:hover {
        background-color: #181818;
    }

    .timeline-grayed .timeline-item-content, .timeline-grayed .timeline-label {
        background-color: #282828;
    }
    
    .timeline-green .timeline-item-content, .timeline-green .timeline-label {
        background-color: #386662;
    }
    
    .timeline-dimmed-green .timeline-item-content, .timeline-dimmed-green .timeline-label {
        background-color: #485453;
    }

    .timeline-item-content::after {
        background-color: #242424;
    }
    
    @media screen and (max-width: 745px) {
        .topbar-navigation {
            background-color: #2d2d2d;
            border-bottom-color: #363636;
        }
    }
}